.container-fluid{
    position: relative;
}

.mydetails img{
    width: 10%;
    position: absolute;
    right: 15px;
}
a {
    text-decoration: none !important;
    animation: click 1s infinite;
    color: blue;
    font-weight: bold;
}
@keyframes click {
    50% {
        color: rgb(255, 0, 221);
    }
}
